<a href="https://colab.research.google.com/github/Jayakrishnan97/Capstone-Project/blob/main/Capstone_Project_on_airbnb_nyc_2019.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name**    - AirBnb Booking Analysis

##### **Project Type**    - EDA/Regression/Classification/Unsupervised
##### **Contribution**    - Individual
##### Team Member  - B JAYAKRISHNAN

# **Project Summary -**

In this project, i have taken 2019 airbnb data for analysis. It includes exloring, filtering and cleaning of the data, by deleting any duplicates and filled the missing and na values. For this i have used pandas dataframe.

Next step i have framed 13 question that needed to be answered through this project which are interlinked with most price, place and their affects on availability and any pattern in these variables.

I have calculated and visualized them for better understanding for which i  have used seaborn and matplotlib for visualization.

# **GitHub Link -**

Provide your GitHub Link here.


https://github.com/Jayakrishnan97/Capstone-Project

# **Problem Statement**

1. What is the price distribution across the neighbourhood group?
2. What are the most popular room type in different neighbourhood group?
3. What are the average price in different neighbourhood?
4. What are the most listing in Airbnb from a neighbourhood perspective?
5. What are the minimum nights listed in Airbnd from a neighbourhood perspective?
6. How many total reviews had been given to different neighbourhood?
7. What are the availability in each neighbourhood in the next year?
8. What are the top ten lowest and highest price in cities of all neighbourhood?
9. What are the top ten most popular room types of all neighbourhood?
10. What are the top ten highest min nights in all neighbourhood?
11. Which are the top ten cities which got highest total reviews in airbnb 2019?
12. What are the top ten most host listed cities?
13. What are the top ten most available cities in the next year?

#### **Define Your Business Objective?**

Answer Here.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required.
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits.
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 20 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule.

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [ ]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Dataset Loading

In [ ]:
# Load Dataset

from google.colab import drive
drive.mount('/content/drive')

### Dataset First View

In [ ]:
# Dataset First Look
filepath = "/content/drive/MyDrive/Colab_Notebooks/Capstone_Project/Airbnb NYC 2019.csv"

df = pd.read_csv(filepath)

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
df.shape

### Dataset Information

In [ ]:
# Dataset Info
df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count
df.duplicated().sum()

#observation - no duplicate count

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
df.isnull().sum()

#observation - name, host_name, last_review, reviews_per_month has null values in which name, host_name are objet type, last_review in object format but to changed to date format and reviews_per_month are float type

In [ ]:
# Visualizing the missing values
#creating a sub data frame where only columns with missing/null values exist
df1 = df[df.columns[df.isna().any()]]

#assigning values to the x and y
x = df1.columns
y = df1.isna().sum()

#plot the line plot as the difference between two variable are farther so in other
plt.plot(x,y)
plt.xlabel("Category")
plt.ylabel("Missing Values")
plt.title("Category vs Missing Values")

### What did you know about your dataset?

In my data set, total 16 columns are there in which 4 columns have missing values. while 2 are object type, where only 16 and 21 we can either remove or change their value to unknown. the last_review column is a date where last_review has given. As the missing dates are huge in volume, we cannot drop them, so its better to change them to unknown. And lastly reviews per month also has huge missing values so its better to fill it with 0

Replacing the missing values

In [ ]:
df["name"].fillna("unknown", inplace = True)
df["host_name"].fillna("None", inplace = True)
df["reviews_per_month"].fillna(0, inplace = True)
df["last_review"].fillna("unknown", inplace = True)

In [ ]:
df.info()

## ***2. Understanding Your Variables***

In [ ]:
# Dataset Columns
df.columns

In [ ]:
# Dataset Describe
df.describe()

### Variables Description

1.name, host_name, neighbourhood_group room_type are object

2.id, host_id, price, minimum_nights, number_of_reviews, reviews_per_month, calculated_host_listings_count, availability_365 are int64 types

3.latitude and longitude are float64 types

4.last_review are in object type but they are actually dates as we do not use that columns we are not changing to date type

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
df.nunique()

## 3. ***Data Wrangling***

### Data Wrangling Code

In [ ]:
# Write your code to make your dataset analysis ready.

fig,ax = plt.subplots(1,2, figsize = (15,5))

dist_plot_price = sns.distplot(ax = ax[0], x = df["price"])

box_plot_price = sns.boxplot(ax = ax[1], x = df["price"])

dist_plot_price.set(xlabel = "Price", title = "Outliers Check")
box_plot_price.set(xlabel = "price", title = "Outliers Check")

As you can see the most of the data is in the range between 0 to 500, for that we you use outliers IQR method to filter.

In [ ]:
#IQR Method

def func_iqr(Column):
  Q1 = np.percentile(Column, 25)
  Q3 = np.percentile(Column, 75)
  IQR = Q3-Q1

  lower_range = Q1 - (IQR * 1.5)
  upper_range = Q3 + (IQR * 1.5)

  return lower_range, upper_range

In [ ]:
lower_range, upper_range = func_iqr(df["price"])

print(f"{lower_range}, {upper_range}")

df = df[(df.price>lower_range) & (df.price< upper_range)]

Lets see the final data frame shape and box plot of the price

In [ ]:
df.shape

sns.boxplot(x=df["price"])

### What all manipulations have you done and insights you found?

Most of the price data, which is an important category for our project has most of the value between 0 and 300. So we filtered out the rest of the data

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***

# 1. what is the price distribution across the neighbourhood group?

In [ ]:
# Chart - 1
sns.violinplot(x=df["neighbourhood_group"], y = df["price"])

##### 1. Why did you pick the specific chart?

I picked the violin plot so that i can have the most of the price range for neighbourhood group

##### 2. What is/are the insight(s) found from the chart?

1. Manhattan has the highest price.
2. Bronx has the least price.
3. Queens and Staten Island has the same price range of least and highest
4. Brooklyn has the second highest price after Manhattan

# 2. What are the most popular room type in different neighbourhood group?

In [ ]:
# Chart - 2 neighbourhood_group vs room type


df_neighbourhood_group_room = df[["neighbourhood_group","room_type"]]

room_type_group = df_neighbourhood_group_room.groupby("neighbourhood_group").value_counts().reset_index(name = "count")

room_type_group

In [ ]:
fig, ax = plt.subplots(figsize = (15,4))

ax = sns.barplot(x = "room_type", y = "count", hue = "neighbourhood_group", dodge = True, data = room_type_group)

##### 1. Why did you pick the specific chart?

stacked histogram charts are better for calculating the same variables in different group.

##### 2. What is/are the insight(s) found from the chart?

The most popular room is Entire home/apt in manhattan. Second highest is private room in Brooklyn. Least popular room is shared room in staten island. Also private room and entire home/apt in brooklyn has good bookings. While all rooms in bronx and shared room in all areas are not having good bookings.

# 3. What are the average price in different neighbourhood?

In [ ]:
# Chart - 3 visualization code

#creating sub data frame
df_neighbourhood_group_price = df[["neighbourhood_group", "price"]]

#calculating the average price by neighbourhood group
df_price = df_neighbourhood_group_price.groupby(["neighbourhood_group"]).agg({"price":"mean"}).reset_index()

#visualization
sns.catplot(data = df_price, x = "neighbourhood_group", y = "price", kind = "point")

##### 1. Why did you pick the specific chart?

as this chart shows different pattern in different colors and also used bar for knowing the difference

##### 2. What is/are the insight(s) found from the chart?

1. Manhattan is the highest avg price city and Bronx is the lowest avg price city.
2. Also Brooklyn is the Second highest avg price city.
3. while Queens and Staten Island is neither Highest nor lowest while it meets in the middle.

# 4. What are the most listing in Airbnb from a neighbourhood perspective?

In [ ]:
# Chart - 4 visualization code

#calculating the neighbourgroup listing by count method
neighbour_counts = df['neighbourhood_group'].value_counts().reset_index()

#naming the columns
neighbour_counts.columns = ["neighbourhood", "listing"]

neighbour_counts
#visualiztion
sns.catplot(data = neighbour_counts, x = "neighbourhood", y = "listing", kind = "bar")

##### 1. Why did you pick the specific chart?

So we differentiate between both variables.

##### 2. What is/are the insight(s) found from the chart?

1. Both Manhattan and Brooklyn has the highest number of listings.
2. Bronx and Staten Island has the least number of listings.
3. Queens has only 6000 listings as difference from 19000 each of brooklyn and manhattan  listings.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# 5. What are the minimum nights listed in Airbnd from a neighbourhood perspective?

In [ ]:
#create a sub dataframe of only 2 variables that we needed
df_neighbourhood_nights = df[["neighbourhood_group","minimum_nights"]]

#creating dataframes as per neighbourhood group
df_neighbourhood_nights_Brooklyn = df_neighbourhood_nights[df_neighbourhood_nights["neighbourhood_group"] == "Brooklyn"]

df_neighbourhood_nights_Manhattan = df_neighbourhood_nights[df_neighbourhood_nights["neighbourhood_group"] == "Manhattan"]

df_neighbourhood_nights_Queens = df_neighbourhood_nights[df_neighbourhood_nights["neighbourhood_group"] == "Queens"]

df_neighbourhood_nights_Staten_Island = df_neighbourhood_nights[df_neighbourhood_nights["neighbourhood_group"] == "Staten Island"]

df_neighbourhood_nights_Bronx = df_neighbourhood_nights[df_neighbourhood_nights["neighbourhood_group"] == "Bronx"]

# counting the minimum nights as per neighbourhood, sorting in descending values, and only showing top 10 of them
min_nights_count_Brooklyn = df_neighbourhood_nights_Brooklyn.groupby("minimum_nights").size().reset_index(name = "count").sort_values('count', ascending=False).head(10)

min_nights_count_Manhattan = df_neighbourhood_nights_Manhattan.groupby("minimum_nights").size().reset_index(name = "count").sort_values('count', ascending=False).head(10)

min_nights_count_Queens = df_neighbourhood_nights_Queens.groupby("minimum_nights").size().reset_index(name = "count").sort_values('count', ascending=False).head(10)

min_nights_count_Staten_Island = df_neighbourhood_nights_Staten_Island.groupby("minimum_nights").size().reset_index(name = "count").sort_values('count', ascending= False).head(10)

min_nights_count_Bronx = df_neighbourhood_nights_Bronx.groupby("minimum_nights").size().reset_index(name = "count").sort_values('count', ascending=False).head(10)

In [ ]:
#visualization of plots

#creating a 3 rows and 2 columns subplots
fig,ax = plt.subplots(3,2, figsize = (20,6))

#subplot 1 - set x, y and title
ax[0][0].bar(min_nights_count_Brooklyn['minimum_nights'],min_nights_count_Brooklyn['count'])
ax[0][0].set_xlabel("minimun nights", fontsize = "10")
ax[0][0].set_ylabel("count", fontsize = "10")
ax[0][0].set_title("Min nights vs count in Brooklyn", fontsize = "14")

#subplot 2 - set x, y and title
ax[0][1].bar(min_nights_count_Manhattan['minimum_nights'],min_nights_count_Manhattan['count'])
ax[0][1].set_xlabel("minimun nights", fontsize = "10")
ax[0][1].set_ylabel("count", fontsize = "10")
ax[0][1].set_title("Min nights vs count in Manhattan", fontsize = "14")

#subplot 3 - set x, y and title
ax[1][0].bar(min_nights_count_Queens['minimum_nights'],min_nights_count_Queens['count'])
ax[1][0].set_xlabel("minimun nights", fontsize = "10")
ax[1][0].set_ylabel("count", fontsize = "10")
ax[1][0].set_title("Min nights vs count in Queens", fontsize = "14")

#subplot 4 - set x, y and title
ax[1][1].bar(min_nights_count_Staten_Island['minimum_nights'],min_nights_count_Staten_Island['count'])
ax[1][1].set_xlabel("minimun nights", fontsize = "10")
ax[1][1].set_ylabel("count", fontsize = "10")
ax[1][1].set_title("Min nights vs count in Staten Island", fontsize = "14")

#subplot 5 - set x, y and title
ax[2][0].bar(min_nights_count_Bronx['minimum_nights'],min_nights_count_Bronx['count'])
ax[2][0].set_xlabel("minimun nights", fontsize = "10")
ax[2][0].set_ylabel("count", fontsize = "10")
ax[2][0].set_title("Min nights vs count in Bronx", fontsize = "14")

#deleting the 6th subplot that we do not intend to use
fig.delaxes(ax[2,1])

#for spacing between layouts
fig.tight_layout()
plt.show()

##### 1. Why did you pick the specific chart?

This bar chart provides a clear insight of how many minimun nights has the highest in each neighbourhood

##### 2. What is/are the insight(s) found from the chart?

1. Brooklyn has 5000 listing for 2 minimum nights, 4000 for 1 minimum nights and 3000 for 3 minimum nights. Also it has 994 listing for 30 minimum nights.
2. Manhattan has 5000 listing for 1 minimum nights, 4000 for 2 minimum nights and 3000 for 3 minimum nights.
3. Queens has 2000 listing for 1 minimum nights, 1300 for 2 minimum nights and 696 for 3 minimum nights.
4. Staten Island has 121 listing for 2 minimum nights, 110 for 1 minimum nights and 46 for 3 minimum nights.
5. Bronx has 350 listing for 1 minimum nights, 340 for 2 minimum nights and 178 for 3 minimum nights.

# 6. How many total reviews had been given to different neighbourhood?

In [ ]:
# Chart - 6 visualization code

#creating a sub dataframe using only 2 variables
df_neighbourhood_review = df[["neighbourhood_group","number_of_reviews"]]

#sum of total reviews by neighbourhood_group
df_neighbourhood_review_total = df_neighbourhood_review.groupby("neighbourhood_group")["number_of_reviews"].sum()

#visualizing using a pie chart
plt.pie(df_neighbourhood_review_total, labels = df_neighbourhood_review_total.index, autopct = '%1.1f%%')

##### 1. Why did you pick the specific chart?

I wanted to use a pie chart so that it can easy to visualize the share of reviews by each neighbourhood group

##### 2. What is/are the insight(s) found from the chart?

1. Brooklyn has the highest number of reviews followed by Manhattan.
2.Staten Island has the least number of reviews preceded by Bronx.
3. Queens only has 14.2% reviews.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# What are the availability in each neighbourhood in the next year?

In [ ]:
# Chart - 7 visualization code

#creating a sub data frame using 2 variables
df_neighbourhood_availability = df[["neighbourhood_group","availability_365"]]

#average days availability
df_neighbourhood_availability_group =  df_neighbourhood_availability.groupby("neighbourhood_group")["availability_365"].mean()

#visualization
df_neighbourhood_availability_group.plot(kind = "bar", color = "green")

##### 1. Why did you pick the specific chart?

so that i can show the difference in neighbourhood availability.

##### 2. What is/are the insight(s) found from the chart?

1. Staten Island has the highest availability for next year with 200 days average followed by Bronx and Queens with 175 and 140 each.
2. Manhattan and Brooklyn has the least availability with 100 and9 90 days.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# 8. What are the top ten lowest and highest price in cities of all neighbourhood?

In [ ]:
# Chart - 8 visualization

df_neighbourhood_group_price = df[["neighbourhood","neighbourhood_group", "price"]]

df_neighbourhood_group_price_group_lowest = df_neighbourhood_group_price.groupby("neighbourhood").mean().reset_index().rename(columns = {"price": 'avg price'}).sort_values("avg price").head(10)

df_neighbourhood_group_price_group_highest = df_neighbourhood_group_price.groupby("neighbourhood").mean().reset_index().rename(columns = {"price": 'avg price'}).sort_values("avg price", ascending = False).head(10)

df_neighbourhood_group_price_group_lowest = df_neighbourhood_group_price_group_lowest.join(df_neighbourhood_group_price[['neighbourhood','neighbourhood_group']].drop_duplicates().set_index("neighbourhood"), on= "neighbourhood")

df_neighbourhood_group_price_group_highest = df_neighbourhood_group_price_group_highest.join(df_neighbourhood_group_price[['neighbourhood','neighbourhood_group']].drop_duplicates().set_index("neighbourhood"), on= "neighbourhood")

df_neighbourhood_group_price_group_highest.style.hide_index()

In [ ]:
df_neighbourhood_group_price_group_lowest.style.hide_index()

In [ ]:
# Extract the values from the dataset
neighborhoods1 = df_neighbourhood_group_price_group_lowest['neighbourhood']
prices1 = df_neighbourhood_group_price_group_lowest['avg price']

neighborhoods2 = df_neighbourhood_group_price_group_highest['neighbourhood']
prices2 = df_neighbourhood_group_price_group_highest['avg price']

# Create the bar plot
plt.figure(figsize=(15,5))
plt.bar(neighborhoods1, prices1,width=0.5, color = 'Green')
plt.xlabel('Neighborhood')
plt.ylabel('Average Price')
plt.title('Lowest Average Price by Neighborhood')

plt.figure(figsize=(15,5))
plt.bar(neighborhoods2, prices2, width=0.5, color = 'Purple')
plt.xlabel('Neighborhood')
plt.ylabel('Average Price')
plt.title('Highest Average Price by Neighborhood')

# Show the plot
plt.show()

##### 1. Why did you pick the specific chart?

To calculate the difference in different neighbourhood

##### 2. What is/are the insight(s) found from the chart?

1. Bulls head in staten island is the lowest avg price followed by hunts point, tremont and sound view in Bronx.
2. In between 47 and 59, we got 5 staten island, 4 Bronx and 1 queens neighbourhood in the lowest average price.
3. Willowbrook in Staten island is the highest avg price followed by Neponsit and Breezy point in Queens.
4. In between 250 and 179, we got 1 staten island, 2 Queens and 7 Manhattan neighbourhood in the highest average price

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# 9. What are the top ten most popular room types of all neighbourhood?

In [ ]:
# Chart - 9 visualization code

#create a sub data frame
df_neighbourhood_room = df[["neighbourhood", "room_type"]]

#calculating the number of room by value counts
df_neighbourhood_room_group = df_neighbourhood_room.groupby("neighbourhood")["room_type"].value_counts().reset_index(name = "count").sort_values("count",ascending = False)

#filtering the data frame by type of room
df_neighbourhood_room_group_private_room =  df_neighbourhood_room_group[df_neighbourhood_room_group["room_type"] == "Private room"].head(10)

df_neighbourhood_room_group_entire_home = df_neighbourhood_room_group[df_neighbourhood_room_group["room_type"] == "Entire home/apt"].head(10)

df_neighbourhood_room_group_shared_room = df_neighbourhood_room_group[df_neighbourhood_room_group["room_type"] == "Shared room"].head(10)

In [ ]:
#assigning the variables for easy visualization
private_neighbourhood = df_neighbourhood_room_group_private_room["neighbourhood"]
private_count = df_neighbourhood_room_group_private_room["count"]

entirehome_neighbourhood = df_neighbourhood_room_group_entire_home["neighbourhood"]
entirehome_count = df_neighbourhood_room_group_entire_home["count"]

shared_neighbourhood = df_neighbourhood_room_group_shared_room["neighbourhood"]
shared_count = df_neighbourhood_room_group_shared_room["count"]

#visualization
plt.figure(figsize = (15,5))
plt.bar(private_neighbourhood,private_count)
plt.xlabel("Neighbourhood")
plt.ylabel("Count")
plt.title("Neighbourhood vs Count in Private rooms")


plt.figure(figsize = (15,5))
plt.bar(entirehome_neighbourhood,entirehome_count)
plt.xlabel("Neighbourhood")
plt.ylabel("Count")
plt.title("Neighbourhood vs Count in Entire/Home rooms")


plt.figure(figsize = (15,5))
plt.bar(shared_neighbourhood,shared_count)
plt.xlabel("Neighbourhood")
plt.ylabel("Count")
plt.title("Neighbourhood vs Count in Shared rooms")

plt.show()

##### 1. Why did you pick the specific chart?

to compare neighbourhood with each type of rooms.

##### 2. What is/are the insight(s) found from the chart?

In private rooms, most were listed in Bedford-Stuyvesant with 2026 and williamsburg with 1977.

In Entire home/apt rooms, most were listed in williamburg with 1723 and Bedford-Stuyvesant with 1528.

In shared rooms, most were listed in Hell's kitchen with 95 and Bedford-Stuyvesant with 84. but in this session williamsburg have only 32 listing placing at 9 position in top 10.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# 10. What are the top ten highest min nights in all neighbourhood?

In [ ]:
# Chart - 10 visualization code

df_neighbourhood_min_nights = df[["neighbourhood", "minimum_nights"]]

df_neighbourhood_min_nights_group = df_neighbourhood_min_nights.groupby("neighbourhood").mean().reset_index().rename(columns ={"minimum_nights":"avg nights"}).sort_values("avg nights", ascending = False).head(10)

neighbourhood = df_neighbourhood_min_nights_group["neighbourhood"]
average_nights = df_neighbourhood_min_nights_group["avg nights"]

plt.figure(figsize=(17,6))
plt.plot(neighbourhood, average_nights)
plt.xlabel("neighbourhood")
plt.ylabel("average nights")
plt.title("average nights in different neighbourhood")

##### 1. Why did you pick the specific chart?

to show the difference between the highest and other values

##### 2. What is/are the insight(s) found from the chart?

1. Spuyten Duyvil has the highest avg min nights with 60+ days.
2. Second is North riverdale with 40+ avg min nights.
3. But from third to 10 positions, they lie in between 25 to 10 days.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# 11. Which are the top ten cities which got highest total reviews in airbnb 2019?

In [ ]:
# Chart - 11 visualization code

#create a separate dataframe
df_neighbourhood_review_month = df[["neighbourhood","reviews_per_month"]]

#calculating the total reviews
df_neighbourhood_review_month_total =df_neighbourhood_review_month.groupby("neighbourhood")["reviews_per_month"].sum().reset_index().rename(columns = {"reviews_per_month": "total_reviews"}).sort_values("total_reviews", ascending = False).head(10)

df_neighbourhood_review_month_total

In [ ]:
#assigning the variables
x = df_neighbourhood_review_month_total["neighbourhood"]
y = df_neighbourhood_review_month_total["total_reviews"]

#visualization
plt.figure(figsize = (16,4))
plt.bar(x,y)
plt.xlabel("Neighbourhood")
plt.ylabel("Total Reviews")
plt.title("Neighbourhood vs Total Reviews")

##### 1. Why did you pick the specific chart?

i wanted to check which neighbourhood got highest sum of reviews. Bar chart is great for showing that.

##### 2. What is/are the insight(s) found from the chart?

1. Bedford-Stuyvesant has got high total reviews with 4800 reviews.
2. Williamsburg is second with 3300 reviews
3. while Harlem is third with 2900 reviews.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# 12. What are the top ten most host listed cities?

In [ ]:
# Chart - 12 visualization code

#create a sub dataframe
df_neighbourhood_listing = df[["neighbourhood","calculated_host_listings_count"]]

#calculate the total host listing count
df_neighbourhood_listing_group = df_neighbourhood_listing.groupby("neighbourhood").sum().reset_index().rename(columns = {"calculated_host_listings_count":"Total_host_listing_count"}).sort_values("Total_host_listing_count",ascending = False).head(10)

df_neighbourhood_listing_group

In [ ]:
#assigning the variables
neighbourhood = df_neighbourhood_listing_group["neighbourhood"]
Total_host_listing= df_neighbourhood_listing_group["Total_host_listing_count"]

#visualization
plt.figure(figsize=(16,4))
plt.plot(neighbourhood, Total_host_listing)
plt.xlabel("Neighbourhood")
plt.ylabel("Total_host_listing")
plt.title("Most Host Listing By Neighbourhood")

##### 1. Why did you pick the specific chart?

To show the decrease of values while descending from highest host neighbourhood to the lowest in top 10.

##### 2. What is/are the insight(s) found from the chart?

1. Financial District hosted the most with 69000 host listing.
2. Murray Hill hosted the second with 25000 host listing.
3. Hells kitchen is in the third with 21910 host listing.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

# 13. What are the top ten most available cities in the next year?

In [ ]:
# Chart - 13 visualization code

#create a sub data frame
df_neighbourhood_availability = df[["neighbourhood","availability_365"]]

#calculate the availability in each cities
df_neighbourhood_availability_group = df_neighbourhood_availability.groupby("neighbourhood").mean().reset_index().rename(columns = {"availability_365":"avg_avail"}).sort_values("avg_avail", ascending = False).head(10)

df_neighbourhood_availability_group

In [ ]:
#assigning the variable
neighbourhood = df_neighbourhood_availability_group["neighbourhood"]
average_availability = df_neighbourhood_availability_group["avg_avail"]

#visualization
plt.figure(figsize=(16,4))
plt.plot(neighbourhood, average_availability)
plt.xlabel("Neighbourhood")
plt.ylabel("average availability")
plt.title("Average Availability in Neighbourhood")

##### 1. Why did you pick the specific chart?

To show the highest average availability days in neighbourhood and the next top 9 most availabiity in neighbourhood.

##### 2. What is/are the insight(s) found from the chart?

1. Co-op city has 364 days availability.
2. Willow brook has 351 days availability.
3. Spuyten Duyvil, Eastchester, Richmondtown has 300+ days availability
4. Tottenville has 267 days availability.

##### 3. Will the gained insights help creating a positive business impact?
Are there any insights that lead to negative growth? Justify with specific reason.

Answer Here

#### Chart - 14 - Correlation Heatmap

In [ ]:
# Correlation Heatmap visualization code

corr = df.corr()

corr

In [ ]:
sns.heatmap(corr, annot = True) #visualization

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

price and number of reviews has a correlation of 0.028. which tend to see that reviews affect the pricing.
Also minimum nights and price has a correlation of 0.031 which also affects the price.
reviews per month and availability has a correlation of 0.23 which affects the availabilty.

#### Chart - 15 - Pair Plot

In [ ]:
# Pair Plot visualization code

sns.pairplot(df)

plt.show()

##### 1. Why did you pick the specific chart?

Answer Here.

##### 2. What is/are the insight(s) found from the chart?

Answer Here

# **Conclusion**

1. Manhattan has the highest price. Brooklyn has the second highest price after Manhattan. Bronx has the least price. Queens and Staten Island has the same price range of least and highest.
2. The most popular room is Entire home/apt in manhattan. Second highest is private room in Brooklyn. Least popular room is shared room in staten island. Also private room and entire home/apt in brooklyn has good bookings. While all rooms in bronx and shared room in all areas are not having good bookings.
3. Manhattan is the highest avg price city and Bronx is the lowest avg price city. Also Brooklyn is the Second highest avg price city. while Queens and Staten Island is neither Highest nor lowest while it meets in the middle.
4. Both Manhattan and Brooklyn has the highest number of listings. Bronx and Staten Island has the least number of listings. Queens has only 6000 listings as difference from 19000 each of brooklyn and manhattan  listings.
5. Brooklyn has 5000 listing for 2 minimum nights, 4000 for 1 minimum nights and 3000 for 3 minimum nights. Also it has 994 listing for 30 minimum nights. Manhattan has 5000 listing for 1 minimum nights, 4000 for 2 minimum nights and 3000 for 3 minimum nights. Queens has 2000 listing for 1 minimum nights, 1300 for 2 minimum nights and 696 for 3 minimum nights. Staten Island has 121 listing for 2 minimum nights, 110 for 1 minimum nights and 46 for 3 minimum nights. Bronx has 350 listing for 1 minimum nights, 340 for 2 minimum nights and 178 for 3 minimum nights.
6. Brooklyn has the highest number of reviews followed by Manhattan. Staten Island has the least number of reviews preceded by Bronx. Queens only has 14.2% reviews.
7. Staten Island has the highest availability for next year with 200 days average followed by Bronx and Queens with 175 and 140 each. Manhattan and Brooklyn has the least availability with 100 and9 90 days.
8. Bulls head in staten island is the lowest avg price followed by hunts point, tremont and sound view in Bronx. In between 47 and 59, we got 5 staten island, 4 Bronx and 1 queens neighbourhood in the lowest average price. Willowbrook in Staten island is the highest avg price followed by Neponsit and Breezy point in Queens. In between 250 and 179, we got 1 staten island, 2 Queens and 7 Manhattan neighbourhood in the highest average price.
9. In private rooms, most were listed in Bedford-Stuyvesant with 2026 and williamsburg with 1977. In Entire home/apt rooms, most were listed in williamburg with 1723 and Bedford-Stuyvesant with 1528. In shared rooms, most were listed in Hell's kitchen with 95 and Bedford-Stuyvesant with 84. but in this session williamsburg have only 32 listing placing at 9 position in top 10.
10. Spuyten Duyvil has the highest avg min nights with 60+ days. Second is North riverdale with 40+ avg min nights. But from third to 10 positions, they lie in between 25 to 10 days.
11. Bedford-Stuyvesant has got high total reviews with 4800 reviews. Williamsburg is second with 3300 reviews. while Harlem is third with 2900 reviews.
12. Financial District hosted the most with 69000 host listing. Murray Hill hosted the second with 25000 host listing. Hells kitchen is in the third with 21910 host listing.
13. On average Co-op city has 364 days availability. Willow brook has 351 days availability. Spuyten Duyvil, Eastchester, Richmondtown has 300+ days availability Tottenville has 267 days availability.
14. price and number of reviews has a correlation of 0.028. which tend to see that reviews affect the pricing.
15. Also minimum nights and price has a correlation of 0.031 which also affects the price.
16. reviews per month and availability has a correlation of 0.23 which affects the availabilty.

### ***Hurrah! You have successfully completed your EDA Capstone Project !!!***